@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Extralight.otf') format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Semibold.otf') format('opentype');
	font-weight: 600;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('ClashDisplay-Bold.otf') format('opentype');
	font-weight: 700;
}
